.form-input {
    width: 100%;
    max-width: 320px;
    height: 50px;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 20px;
    color: #6F688F;
    background-color: #E0DBF5;
    outline: none;
    position: relative;
    margin: 10px;

    @media screen and (min-width: 992px) {
        margin: 0;
    }
}